
<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
  </tr>

  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.name %></td>
      <td><%= review.notes %></td>
      <td><%= link_to 'Show', review_path(review) %></td>
    </tr>
  <% end %>
</table>
